html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #d1b382 1%, #ffffff 100%);
}

p {
  line-height: 2;
}

.font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

div.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}

div.main-container h1 {
  text-align: center;
  color: #000000;
  padding-bottom: 50px;
}

.module-container {
  font-size: 24px;
  width: 42%;
  cursor: pointer;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s, transform 0.6s;
}

.module-container :hover {
  background-color: #cec8b7;
  transition: background 0.2s;
}
.module-wrapper :hover {
  background-color: #cec8b7;
  transition: background 0.2s;
}

.module-container.visible {
  opacity: 1;
  transform: translateY(0);
}

div.module-container ul {
  font-size: 20px;
}

div.module-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.select-module {
  display: inline-block;
  margin: 80px auto 0 auto;
  margin-top: 20px;
  padding: 20px 40px;
  width: 42%;
  background-color: #fff9f0;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  text-align: left;
  transition: background 0.2s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s, transform 0.6s;
}
.select-module.visible {
  opacity: 1;
  transform: translateY(0);
}

.select-module:hover {
  background-color: #ffddad;
}

header {
  background-color: #ffffff00;
  border-bottom: 1px solid #aaa;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header h1 {
  text-align: center;
}

footer {
  border-top: 1px solid #555;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

footer p {
  display: flex;
  color: #555;
}

.footer-extra {
  margin-left: 32px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 50px;
}

.header-nav a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.header-nav a:hover {
  text-decoration: underline;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 50px;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin: 40px 0;
}

.text-content {
  flex: 1;
}

.text-content p {
  text-align: left;
}

.image-content img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.content-wrapper {
  flex: 1;
  width: 42%;
  margin: 5px auto;
  min-width: 300px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.coursebutton {
  display: inline-block;
  margin: 80px auto 0 auto;
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #ffd58c;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  text-align: left;
  transition: background 0.2s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.coursebutton:hover {
  background-color: #ffc068;
}

.coursebuttonbottom {
  display: inline-block;
  margin: 80px auto 0 auto;
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #e8d8bf;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  text-align: left;
  transition: background 0.2s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.coursebuttonbottom:hover {
  background-color: #ffc574;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.border-text {
  border: 1px solid #3333338f;
  padding: 12px;
  border-radius: 8px;
}

/*module opening*/

details[open] > .details-content {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

.details-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

/*Pages on the right side of the screen buttons*/

.module-button {
  margin: 30px;
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #ffd58c;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  transition: background 0.2s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  min-width: 100px;
  max-width: 200px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100px;
  right: 5vw;
  gap: 20px;
}

.module-button:hover {
  background-color: #ffe9c3;
}
/* FAQ page */

/* mobile stuff*/

@media (max-width: 700px) {
  .header-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .nav-left a,
  .nav-right a {
    display: block;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
}

/* quiz feature*/

.quiz-container {
  max-width: 500px;
  margin: 20px auto;
}

.answer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.answer-box {
  border: 2px solid #aaa;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

  transition: background-color 0.2s, border-color 0.2s;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-box:hover {
  background-color: #f0f0f0;
}

.answer-box input[type="radio"] {
  display: none;
}

.answer-box.selected {
  background-color: #ffffff;
  border-color: #aaa;
}

.feedback {
  display: none;
  border: 2px solid #aaa;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/* Response box*/

.response-box {
  margin: 20px auto;
  background-color: #00000000;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 12px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border: 1px solid #000000;
  resize: vertical;
  box-sizing: border-box;
  background-color: #00000000;
  line-height: 1.6;
}

.char-count {
  text-align: right;
  color: #252525;
  margin-top: 5px;
}

/* previous and next*/
.prevnext-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px auto;
}

.prevnext {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, border-color 0.2s;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  min-width: 80px;
  font-size: 18px;
  height: 20px;
}

.prevnext:hover {
  background-color: #f0f0f0;
}
